<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>
<body>

<ul class="nav nav-pills">
  <li class="active"><a href="#">Clients</a></li>
  <li><a href="#">Projects</a></li>
  <li><a href="#">Admin</a></li>
</ul>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
